body {
    background-color: grey;
}

p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    color: white
}

.add {
    color: white
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    max-width: 300px;
    margin: auto;
}