header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
    height: 100%
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}

.profile {
    border-radius: 50%;
}

#welcome {
    background-image: url('/GitHub-Project/img/blur_street.jpg');
    text-align: center;
}

#home {
    background-image: url('/GitHub-Project/img/apple.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#about {
    background-image: url('/GitHub-Project/img/appartment.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#contact {
    background-image: url('/GitHub-Project/img/chair.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(104, 102, 102, 0.5);
}