header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

.section {
    height: 100%;
}

body {
    height: 100%;
}

.profile {
    border-radius: 50%;
}

.bckgrnd {
    background-image: url('/GitHub-Project/img/blur_street.png');
}