@font-face {
    font-family: 'Varela Round';
    src: url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap')
}

header {
    padding: 156px 0 100px;
    font-family: 'Varela Round', sans-serif;
}

section {
    padding: 150px 0;
    height: 100%
}

html {
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

body {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.profile {
    border-radius: 50%;
}

#welcome {
    background-image: url('/GitHub-Project/img/blur_street.jpg');
    text-align: center;
}

#home {
    background-image: url('/GitHub-Project/img/apple.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#about {
    background-image: url('/GitHub-Project/img/appartment.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#contact {
    background-image: url('/GitHub-Project/img/chair.jpg');
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 12px;
}